body {
  margin: 0;
  padding: 0;
}

#sketchpadDiv {
  position: absolute; 
  width: 100%; 
  height: 100%;
  border: 1px solid #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#sketchpadCanvas {
  position: absolute;
}